<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name, label: 'Nome' %>
    <%= f.input :last_name, label: 'Sobrenome' %>
    <%= f.input :birthday, label: 'Data de nascimento',
                as: :date, start_year: Date.today.year,
                end_year: Date.today.year - 100,
                order: [:day, :month, :year] %>
    <%= f.input :cpf, label: 'CPF' %>
    <%= f.input :phone_number, label: 'Número de telefone' %>
    <%= f.input :address, label: 'Endereço' %>
    <%= f.input :email, label: 'E-mail' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Criar usuário' %>
  </div>
<% end %>

<!-- password has a specific page in devise to be changed? -->
<!-- TODO: implement photo upload -->
