

<%= simple_form_for [@user, @room] do |f| %>
  <%= f.input :name, label: 'Nome' %>
  <%= f.input :description, label: 'Descrição' %>
  <%= f.input :price, label: 'Preço' %>
  <div>
    <br>
      <h4> Opcionais:</h4>
  <%= f.input :secretary, as: :boolean, label: 'Secretária' %>
  <%= f.input :psychology_couch, as: :boolean, label: 'Divã' %>
  <%= f.input :cleaning, as: :boolean, label: 'Limpeza' %>
  <%= f.input :smoking_allowed, as: :boolean, label: 'Área fumantes' %>
  </div>
  <br>
  <%= f.input :photos, as: :attachinary, label: 'Fotos' %>
  <%= f.button :submit %>
<% end%>




