

    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(150,168,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path('sofa.jpg') %>');">
        <div class="banner_wrapper">
        <div class="banner_title">
          <h2 align="left">Ganhe dinheiro compartilhando seu consultório</h2>
        </div>
          <div class="banner-content">
          <%= simple_form_for @room do |f| %>
              <%= f.input :type, label: 'Qual o tipo do seu consultório?', label_html: { align: "left" } %>
              <%= f.input :address, label: 'Onde seu consultório fica?', label_html: {align: 'left'} %>
              <%= f.submit "Compatilhar", class: 'btn btn-primary' %>
          <% end %>
          </div>
        </div>
      </div>



