

<div class="container">
  <div class="col-xs-6">
    <div class="box_room">
      <%= render 'room_carrousel' %>
      <h4><%= @room.name %></h4>

      <div id="room-description">
        <P><%= @room.description %></P>
        <h5><strong> Endereço:</strong> <%= @room.address %></h5>
        <p>R$ <%= @room.price %></p>
      </div>

      <div id="features">
        <ul class="list-unstyled">
          <h5><strong>Comodidades</strong></h5>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Secretária', boolean: @room.secretary}  %>
          </li>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Divã', boolean: @room.psychology_couch}%>
          </li>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Limpeza', boolean: @room.cleaning} %>
          </li>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Área fumantes', boolean: @room.smoking_allowed} %>
          </li>
        </ul>
        <br>
        <h4> Avaliações: </h4>
        <%= render 'review_show' %>
        <br>
        <br>

        <% if @room.user == current_user %>
          <p><%= link_to 'Editar', edit_room_url, class: 'btn btn-primary'%></p>
        <% end %>
        <div class="reservation_module">
          <%= link_to "Reserve agora", new_room_reservation_path(@room), class: 'btn btn-primary' %>
        </div>

      </div>
    </div>

  </div>
  <div class="col-xs-6">
    <h3>Faça sua reserva</h3>
    <div>
      <%= render 'form_create_reservation.html.erb' %>
    </div>
    <div id="map" style="width: 100%; height: 600px;"></div>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
      <% end %>
    <% end %>

  </div>

</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    const coord = <%= raw @room_coordinates.to_json %>;

  <% end %>
<% end %>
