<div class="container">
  <div class="col-xs-6">
    <div class="box_room">
      <%= render 'room_carrousel' %>
      <h2><%= @room.name %></h2>

      <div id="room-description">
        <h4><%= @room.description %></h4>
        <p> Endereço: <%= @room.address %></p>
        <p>R$ <%= @room.price %></p>
      </div>

      <div id="features">
        <ul>
          <h4><strong>Comodidades</strong></h4>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Secretária', boolean: @room.secretary}  %>
          </li>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Divã', boolean: @room.psychology_couch}%>
          </li>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Limpeza', boolean: @room.cleaning} %>
          </li>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Área fumantes', boolean: @room.smoking_allowed} %>
          </li>
        </ul>
        <p><%= link_to 'Editar', edit_room_url, class: 'btn btn-primary'%></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div id="map"></div>
  </div>
</div>


