<% @room.photos.each do |photo| %>
<%= cl_image_tag photo.path, width: 500, height: 350, crop: :fill %>
<% end %>

<h1><%= @room.name %></h1>

<div id="room-description">
  <h4><%= @room.description %></h4>
  <p> Endereço: <%= @room.address %> (<%= @room.price %>)</p>
</div>


<div id="features">
  <h4> Comodidades </h4>
  <ul>
    <li>
      <%= render partial: 'block_feature', locals: {feature: 'Secretária', boolean: @room.secretary}  %>
    </li>
    <li>
      <%= render partial: 'block_feature', locals: {feature: 'Divã', boolean: @room.psychology_couch}%>
    </li>
    <li>
      <%= render partial: 'block_feature', locals: {feature: 'Limpeza', boolean: @room.cleaning} %>
    </li>
    <li>
      <%= render partial: 'block_feature', locals: {feature: 'Área fumantes', boolean: @room.smoking_allowed} %>
    </li>
  </ul>
</div>


<p><%= link_to 'Editar', edit_room_url %></p>


