
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap + Fontawesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
    <body>
<div class="container">
  <div class="col-xs-6">
    <div class="box_room">
      <%= render 'room_carrousel' %>
      <h2><%= @room.name %></h2>

      <div id="room-description">
        <h4><%= @room.description %></h4>
        <p> Endereço: <%= @room.address %></p>
        <p>R$ <%= @room.price %></p>
      </div>

      <div id="features">
        <ul>
          <h4><strong>Comodidades</strong></h4>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Secretária', boolean: @room.secretary}  %>
          </li>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Divã', boolean: @room.psychology_couch}%>
          </li>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Limpeza', boolean: @room.cleaning} %>
          </li>
          <li>
            <%= render partial: 'block_feature', locals: {feature: 'Área fumantes', boolean: @room.smoking_allowed} %>
          </li>
        </ul>
        <p><%= link_to 'Editar', edit_room_url, class: 'btn btn-primary'%></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div id="map" style="width: 100%; height: 600px;"></div>
  </div>
</div>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    var handler = Gmaps.build('Google');
    handler.buildMap({ internal: { id: 'map' } }, function() {
      markers = handler.addMarkers(<%= raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      if (markers.length == 0) {
        handler.getMap().setZoom(2);
      } else if (markers.length == 1) {
        handler.getMap().setZoom(14);
      }
    });
  <% end %>
<% end %>
 </body>
</html>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

    const coord = <%= raw @room_coordinates.to_json %>;
    alert('Room coordinates are ' + coord.lat + ', ' + coord.lng);

  <% end %>
<% end %>
